@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/typography";


.browse {
    background-color: $spotify-green;
    background: linear-gradient($spotify-green, $spotify-dark-gray 10%);

    &__img-top {
        width: 100%;
    }

    &__img-bottom {
        width: 100%;
        margin-bottom: -1rem;


    }
}