@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/typography";


.home {
    background-color: #1DB954;
    ;


    &__img-top {
        width: 100%;
    }

    &__img-bottom {
        width: 100%;
        margin-bottom: -1rem;


    }

    &__hero {
        background-color: $spotify-green;
        background: linear-gradient($spotify-green, $spotify-dark-gray 100%);
    }

    &__artist {
        background-color: $spotify-green;
        background: linear-gradient($spotify-dark-gray, $spotify-green 250%);
    }


    @include desktop {
        margin-left: 6.25rem;
        margin-right: 6.25rem;
    }

    &__logo {
        height: 6.875rem;
        margin-bottom: .5rem;

        @include desktop {
            height: 1.5625rem;
        }

        &-img {
            text-align: center;
            width: 100%;

            @include tablet {
                text-align: start;
                width: 20%;
                margin-right: 5rem;
            }

            @include desktop {
                width: 0;
                margin-right: 31.8125rem;
            }
        }
    }


    &__button {
        @include button;
    }
}